// Just as in the original Osprey theme, we load the fonts via URL:
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

$font-header: "Bitter", "Roboto Slab", "Cambria", Georgia, serif;
$font-body: "Rubik", "Poppins", "Hel­vetica", Arial, sans-serif;
$font-code: "Menlo", "Monaco", "Andale Mono", "lucida console", "Courier New", monospace;
$font-tagline: $font-body;
$nav-font: $font-body;