@font-face {
  font-family: 'IBM-Plex-Sans';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
}

@font-face {
  font-family: 'IBM-Plex-Sans Slab';
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

}

$font-header: "IBM-Plex-Sans Slab", "Bitter", "Ubuntu", Georgia, serif;
$font-body: "IBM-Plex-Sans", "Rubic", "Poppins", "Hel­vetica", Arial, sans-serif;
$font-code: "IBM-Plex-Sans Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-tagline: $font-header;
$nav-font: $font-body;
